
@model EntityLayer.Concrete.Department
@{
    Layout = "_Layout";
}

<h1>Yeni Departman Oluştur</h1>
<br />
@using (Html.BeginForm("AddDepartment", "Department", FormMethod.Post))
{
    @Html.Label("Ad")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @required="required"})
    <br />
    <button class="btn btn-info">Ekle</button>
}