@using EntityLayer.Concrete
@model List<Department>

@{
    Layout = "_Layout";
}

<h1>Departman Listesi</h1>
<br />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Ad</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a href="/Department/DeleteDepartment/@item.Id" onclick="return confirm('Dosyayı silmek istediğinize emin misiniz?');" class="btn btn-danger">Sil</a>
                    <a href="/Department/UpdateDepartment/@item.Id" class="btn btn-success">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Department/AddDepartment" class="btn btn-info mt-3">Ekle</a>